Package: com.leemin.mrbeastify
Name: MrBeastify
Version: 1.0.0
Architecture: iphoneos-arm
Description: MrBeastify your YouTube experience!
Maintainer: lemin
Author: lemin
Section: Tweaks
Depends: mobilesubstrate
